<div class="content-wrapper">

    @model IList<StudentViewModel>

        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
    <h1>Student Information list</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Email</th>
                <th>NRC</th>
                <th>Address</th>
                <th>Phone</th>
                <th>FatherName</th>

                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
            <tr>
                <td>@s.Code</td>
                <td>@s.Name</td>
                <td>@s.DOB.ToString("yyyy-MM--dd")</td>
                <td>@s.Email</td>
                <td>@s.NRC</td>
                <td>@s.Address</td>
                <td>@s.Phone</td>
                <td>@s.FatherName</td>



                <td><a href="/Admin/Edit?Id=@s.Id" class="btn btn-success" role="button">Edit</a></td>
                <td><a href="/Admin/Delete?Id=@s.Id" onclick="return confirm('Are you sure to delete this record?')" class="btn btn-danger" role="button">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>

    @section Scripts{
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    }

</div>
